<div id="<%= dom_id document %>">
  <div class="flex justify-between items-center">
    <div class="flex-1">
      <span class="my-5">
        <strong class="block font-medium mb-1">Name:</strong>
        <%= document.name %>
      </span>

      <span class="my-5">
        <strong class="block font-medium mb-1">File:</strong>
        <% if document.file.attached? %>
          <%= link_to document.file.filename, document.file %>
        <% end %>
      </span>
    </div>

    <%= render partial: "navigation", locals: { document: } %>
  </div>

  <% if document.file.attached? && action_name == "show" %>
    <div class="p-4 border-gray-300 border rounded-md">
      <%= render FilePreviewComponent.new(document:) %>
    </div>
  <% end %>
</div>
