<div id="<%= dom_id document %>">
  <div class="flex justify-between items-center">
    <div class="flex-1">
      <div class="flex gap-2">
        <strong class="block mb-1">Name:</strong>
        <p><%= document.name %></p>
      </div>

      <% if document.uploader.present? %>
        <div class="flex gap-2">
          <strong class="block mb-1">Teacher:</strong>
          <p><%= document.uploader.email %></p>
        </div>
      <% end %>

      <div class="flex gap-2">
        <strong class="block mb-1">File:</strong>
        <% if document.file.attached? %>
          <%= link_to document.file.filename, document.file %>
        <% end %>
      </div>
    </div>

    <%= render partial: "navigation", locals: { document: } %>
  </div>

  <% if document.file.attached? && action_name == "show" %>
    <div class="p-4 border-gray-300 border rounded-md">
      <%= render FilePreviewComponent.new(document:) %>
    </div>
  <% end %>
</div>
